.container {
  @apply bg-secondary-200 h-full w-full flex flex-col items-center lg:flex-row justify-center overflow-x-hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

.title {
  @apply font-[300] not-italic text-[40px] leading-[42px] text-center tracking-[10.82px] my-6 w-[311px] h-[42px] text-primary-400 font-primary md:w-[444px] md:h-[64px] lg:text-[60px];
}

.description {
  @apply not-italic font-[600] text-[23px] leading-[36px] text-center tracking-[1.82px] text-primary-500 my-6 w-[311px] h-[84px] font-primary md:w-[444px] md:h-[128px] md:text-[32px] md:leading-[52.5px] md:tracking-[3.66px] lg:text-[35px] lg:leading-[51px] lg:tracking-[6.32px] lg:h-[135px] lg:text-center capitalize xl:leading-[55px];
}

.text-container {
  @apply lg:ml-[5rem] xl:ml-[10rem] xl:mt-[3rem];
}

.img {
  @apply w-[auto] h-[250px]  lg:mr-[5rem] lg:h-[400px] xl:mr-[10rem] xl:h-[450px];
}

.button-container {
  @apply flex m-1 justify-center pt-14 lg:pt-5 xl:pt-[0.25rem];
}

.button {
  @apply w-[130px] h-[48px] rounded-[28px] mr-5 flex items-center justify-center text-primary-200 hover:ease-in hover:brightness-[98%] md:w-[200px] md:h-[57px] font-primary;
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
}
