.container {
  @apply w-full bg-tertiary-300 h-full;
}

.sortByText {
  @apply text-[15px] font-primary text-primary-500 font-[500] capitalize pr-[16px] whitespace-nowrap px-3 transition-all duration-500;
}

.home-content-container {
  @apply h-[100%] overflow-y-auto scroll-smooth;
}

.home-content-container::-webkit-scrollbar {
  display: none;
}

.home-content-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
