.container {
  @apply w-[322px] flex flex-col m-auto py-10 h-full;
}

@media (min-width: 768px) {
  .container {
    @apply rounded-sm my-7 w-[380px];
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 3px solid;
    border-color: #423a3a;
    border-radius: 10px;
  }

  .container:hover {
    border-color: #ce9898;
  }
}

@media (min-width: 1440px) {
  .container {
    @apply xl:w-[600px];
  }
}

.icon-container {
  @apply flex items-center w-full justify-start;
}

.icon {
  @apply w-[50px] h-auto object-contain;
}

.idea-text-container {
  @apply ml-[3px] flex w-full items-center;
}

.idea-title {
  @apply text-[16px] font-primary text-primary-500 font-[500] capitalize pr-[16px] whitespace-nowrap;
}

.idea-category {
  @apply text-[15px] font-primary text-primary-500 font-[600] capitalize;
}

.idea-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
  display: block;
  overflow: hidden;
}
